<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
    <!-- <link rel="shortcut icon" href="{{url_for('static',filename='BYlogo.png')}}"> -->
    <title>Bylog</title>
</head>
<body>
    {% include 'header.html' %}
    
    <div class="bylogmain">
        <div class="profile">
            <div class="image_container">
                <div class="image"></div> <!--image자리-->
            </div>
            <div class="intro"><p>{{user.username}}</p>{{user.introduction}}</div>
        </div>

        {%block content%}
        {%endblock%}

    </div>
{%block script%} <!--자바스크립트-->
{%endblock%}
</body>
</html>

